html {
    scroll-behavior: smooth;
}
p{
    color: white;
}
body{
    background: url("img.jpg");
    background-size: contain;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header{
    background: #457b9d;
    height: 75px;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
}
.main-header-body {
    display: table-cell;
    vertical-align: middle;
}

.main-header-title {
    display: inline-block;
    margin-left: 15px;
}

.main-header-title h1 {
    margin: 0;
    color: white;
}

.main-header-title a {
    text-decoration: none;
}

.main-header-nav {
    padding-right: 20px;
    display: inline-block;
    width: calc(100% - 270px);
    text-align: right;
}

.main-header-nav__list {
    list-style-type: none;
}

.main-header-nav__list-item {
    display: inline-block;
}

.main-header-nav__list-item a {
    text-decoration: none;
}

#main-section {
   
    padding-top: 70px;
}

.main-section-body {
    padding: 30px 0;
    width: 70%;
    margin: auto;
    text-align: center;
}

.main-content {
   padding-top: 100px;
}

.main-content-title {}

.main-content-title h2 {
    display: inline-block;
    width: 30%;
    padding: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: #e63946;
    border-radius: 10px;
}

.main-content-text {
    padding-top: 20px;
}


.main-default h2 {
    font-size: 100px;
    background-color: #e63946;
    color: white;
    border-radius: 100px;
    margin-top: 30px;
}

.backtotop {
    position: fixed;
    bottom: 15%;
    right: 100px;
    font-size: 60px;
    color: #447b9b; 
    transition: 1s ease;
    
}
.backtotop:hover{
    color: #75449b  ;
}
.wrapper{
    min-height: 100vh;
}
footer{
    text-align: center;
    background: #457b9d;
    height: 75px;
}
footer h1{
    display: inline-block ;
    margin: 0;
    padding-top: 20px;
    color: white;
} 
.btn{
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    transition: 0.9s ease;
    
}

.btn:hover {
    background: black;
}
.btnActive{
    border: 1px solid #e63946;
    background-color: #e63946;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btnActive:hover{
    background-color: white;
    color: #e63946;
}
#css{
    padding-top: 0;
}
